<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
	  <add name="xConnectUrl" connectionString="https://sc9.xconnect.dev.local" />
  </connectionStrings>
  <appSettings>
	  <add key="xConnectTimeout" value="00:00:20" />
	  <add key="xConnectCertificateThumbprint" value="Y0URTHUMBPR1NTG035H3R3" />
	  <add key ="TwitterIdentifier" value="myrtlesitecore"/>
	  <add key ="OtherEventChannelId" value="670BB98B-B352-40C1-99C8-880BF2AA4C54"/>
	  <add key ="InstantDemoGoalId" value="28A7C944-B8B6-45AD-A635-6F72E8F81F69"/>
	  <add key ="InstantDemoGoalName" value="Instant Demo"/>
	  <add key ="GoalTypeName" value="Sitecore XP Goal"/>
	  <add key ="SearchYear" value="2019"/>
	  <add key ="SearchMonth" value="8"/>
	  <add key ="SearchStartDay" value="18"/>
	  <add key ="SearchDays" value="10"/>

  </appSettings>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
		  </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>